<header>
  
    <div class="description">
        <h1>Imported Koi Stock</h1>
    </div>
    
</header> 

<div class="container features">
    <div class="row">
    <div class="gallery col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="fishdetails" class="d-block ">
        <img alt="" src="assets/img/img2.jpg" class="img-fluid">
        </a>
        
    </div>

    <div class="gallery col-xl-3 col-lg-4 col-md-6 col-sm-12">
         <a href="assets/img/img17.jpg" class="d-block">
        <img src="assets/img/img17.jpg" class="img-fluid">
        </a>
        
    </div>

    <div class="gallery col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="assets/img/img18.jpg" class="d-block">
        <img src="assets/img/img18.jpg" class="img-fluid">
        </a>
       
    </div>
    <div class="gallery col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <a href="assets/img/img4.jpg" class="d-block">
        <img src="assets/img/img4.jpg" class="img-fluid">
        </a>
        
        </div>
    </div>
    
</div>