<header>
    <div class="description">
        <h1>IMPORTED KOI STOCK</h1>
    </div>    
</header>
<div class="container-fluid">
    <div class="row card-group">
        <div class="col-xl-3 col-lg-4  col-md-6 col-sm-12" *ngFor="let importedkoi of fish_details" >
            
            <div class="card">
                <a href="view_details/{{importedkoi.code}}">
                <img class="card-img-top" [src]="importedkoi.img_path" alt="Card image cap">
                </a>
                <div class="card-body" >
                    <h6 class="card-title">{{importedkoi.name}}</h6>
                <div class="row">
                    <div class="col-6">
                    <a href="view_details/{{importedkoi.code}}" class="btn btn-primary" >View Details</a>
                    </div>
                    <div class="col-6" style="text-align: center" >
                    <p *ngIf="importedkoi.availability==false" ><b style="color:rgb(199, 9, 9)">SOLD OUT</b></p>
                    </div>
                </div>
                </div>
            </div>
        
        </div>
    </div>
</div>   
