<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width:20rem;">
                <div class="card-body">
                    <h5 class="card-title" style="color:red">Password Reset</h5>
                    <form  #reset action="password_reset" [formGroup]="form" method="POST"> 
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password"  formControlName="new_password"
                                [ngClass]="{'is-invalid':form.get('new_password').invalid && form.get('new_password').touched,'is-valid':form.get('new_password').touched && form.get('new_password').valid}">
                            <div *ngIf="form.get('new_password').invalid && form.get('new_password').touched" class='invalid-feedback'>
                                <div *ngIf="form.get('new_password').errors.required">Password is Required</div>
                                <div *ngIf="form.get('new_password').errors.minlength">Password must contain at least 6 characters</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="new_password">Re-Enter Password</label>
                            <input type="password" class="form-control" id="reEnter_password" name="reEnter_password"  formControlName="reEnter_password"
                                [ngClass]="{'is-invalid':form.get('reEnter_password').invalid && form.get('reEnter_password').touched,'is-valid':form.get('reEnter_password').touched && form.get('reEnter_password').valid}">
                            <div *ngIf="form.get('reEnter_password').invalid && form.get('reEnter_password').touched" class='invalid-feedback'>
                                <div *ngIf="form.get('reEnter_password').errors.required">Password is Required</div>
                                <div *ngIf="form.get('reEnter_password').errors.notequal">Password does not not match</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="update ml-auto mr-auto">
                                <button type="submit" class="btn btn-primary btn-round" [disabled]="!form.valid" (click)="reset.submit()">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width:24rem;">
                <div class="card-header">
                    <h5 class="card-title">Fields Visibility</h5>
                </div>
                <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Name</div>
                                    <div class="col-md-4" *ngIf="visibility[0].name"><a href="#" id="change_name" (click)="changeView('name')" title="make-invisible"><img src="assets/img/visible.png" id="name"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].name"><a href="#" id="change_name" (click)="changeViewTrue('name')"  title="make-visible"><img src="assets/img/invisible.png" id="name"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Category</div>
                                    <div class="col-md-4" *ngIf="visibility[0].category"><a href="#" id="change_category" (click)="changeView('category')" title="make-invisible"><img src="assets/img/visible1.png" id="category"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].category"><a href="#" id="change_category" (click)="changeViewTrue('category')" title="make-visible"><img src="assets/img/invisible.png" id="category"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Code</div>
                                    <div class="col-md-4" *ngIf="visibility[0].code"><a href="#" id="change_code" (click)="changeView('code')" title="make-invisible"><img src="assets/img/visible1.png" id="code"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].code"><a href="#" id="change_code" (click)="changeViewTrue('code')" title="make-visible"><img src="assets/img/invisible.png" id="code"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Age</div>
                                    <div class="col-md-4" *ngIf="visibility[0].age"><a href="#" id="change_age" (click)="changeView('age')" title="make-invisible"><img src="assets/img/visible1.png" id="age"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].age"><a href="#" id="change_age" (click)="changeViewTrue('age')" title="make-visible"><img src="assets/img/invisible.png" id="age"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Size</div>
                                    <div class="col-md-4" *ngIf="visibility[0].size"><a href="#" id="change_size" (click)="changeView('size')" title="make-invisible"><img src="assets/img/visible1.png" id="size"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].size"><a href="#" id="change_size" (click)="changeViewTrue('size')" title="make-visible"><img src="assets/img/invisible.png" id="size"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Gender</div>
                                    <div class="col-md-4" *ngIf="visibility[0].gender"><a href="#" id="change_gender" (click)="changeView('gender')" title="make-invisible"><img src="assets/img/visible1.png" id="gender"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].gender"><a href="#" id="change_gender" (click)="changeViewTrue('gender')" title="make-visible"><img src="assets/img/invisible.png" id="gender"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Price</div>
                                    <div class="col-md-4" *ngIf="visibility[0].price"><a href="#" id="change_price" (click)="changeView('price')" title="make-invisible"><img src="assets/img/visible1.png" id="price"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].price"><a href="#" id="change_price" (click)="changeViewTrue('price')" title="make-visible"><img src="assets/img/invisible.png" id="price"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Description</div>
                                    <div class="col-md-4" *ngIf="visibility[0].description"><a href="#" id="change_des" (click)="changeView('description')" title="make-invisible"><img src="assets/img/visible1.png" id="description"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].description"><a href="#" id="change_des" (click)="changeViewTrue('description')" title="make-visible"><img src="assets/img/invisible.png" id="description"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Image</div>
                                    <div class="col-md-4" *ngIf="visibility[0].img_path"><a href="#" id="change_img" (click)="changeView('img_path')" title="make-invisible"><img src="assets/img/visible1.png" id="img_path"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].img_path"><a href="#" id="change_img" (click)="changeViewTrue('img_path')" title="make-visible"><img src="assets/img/invisible.png" id="img_path"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">Video</div>
                                    <div class="col-md-4" *ngIf="visibility[0].video_path"><a href="#" id="change_video" (click)="changeView('video_path')" title="make-invisible"><img src="assets/img/visible1.png" id="video_path"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].video_path"><a href="#" id="change_video" (click)="changeViewTrue('video_path')" title="make-visible"><img src="assets/img/invisible.png" id="video_path"></a></div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-8">You Tube Video</div>
                                    <div class="col-md-4" *ngIf="visibility[0].link"><a href="#" id="change_link" (click)="changeView('link')" title="make-invisible"><img src="assets/img/visible1.png" id="link"></a></div>
                                    <div class="col-md-4" *ngIf="!visibility[0].link"><a href="#" id="change_link" (click)="changeViewTrue('link')" title="make-visible"><img src="assets/img/invisible.png" id="link"></a></div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>        
</div>