<header>
  
    <div class="description">
        <h1>About The Water Kingdom</h1>
    </div>

</header>
<div class="box">
<div class='wave -one'></div>
<div class='wave -two'></div>
</div>
<div class="container features">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-2 ">
            <img src="assets/img/img2.jpg" class="img-fluid">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 pt-5 pl-4">
                <p>JavaScript, often abbreviated as JS, is a high-level, interpreted
            programming language that conforms to the ECMAScript specification.
            JavaScript has curly-bracket syntax, dynamic typing, prototype-based
            object-orientation, and first-class functions.</p>
        </div>
    </div>

    <div class="row mt-5 pt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 pt-5 pr-4">
                    <p>JavaScript, often abbreviated as JS, is a high-level, interpreted
                programming language that conforms to the ECMAScript specification.
                JavaScript has curly-bracket syntax, dynamic typing, prototype-based
                object-orientation, and first-class functions.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <img src="assets/img/img3.JPG" class="img-fluid">
            </div>
    </div>
</div>