<footer class="footer " style="color: black;padding: 0px 0 0 0px;">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top:10px">
                        <h6 class="text-uppercase font-weight-bold" style="color: white">Email</h6>
                        <p style="color: white">thewaterkingdomlk@gmail.com</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top:10px">
                        <h6 class="text-uppercase font-weight-bold" style="color: white">Contact</h6>
                        <p style="color: white">+9477 901 4918</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top:10px">
                        <h6 class="text-uppercase font-weight-bold" style="color: white">Address</h6>
                        <p style="color: white">16/8, Sirimal Uyana, Jamburaliya, Madapatha</p>
                    </div>
            </div>
        <div class="footer-copyright text-center py-3" style="color:white">
            &copy; {{test | date: 'yyyy'}}, all copy-rights reserved by <a href="#" style="color: white">The Water  Kingdom</a>
        </div>
    </div>
</footer>
