nav {
   
   margin-bottom: 0;
   background-color: black!important
}  
    
img{
    margin-right: 10px; 
    border-radius: 60%;
    width: 80px;
    height: auto; 
    }

    
    // .navbar-brand{
    //     margin-left: 100px;
    // }
    // .navbar-nav{
    //     margin-left: 50px;
    //     margin-right: 80px; 
    // }
    // button.navbar-toggler{
    //     width: 44px;
    //     height: 34px;
        
    // }
    // .navbar-toggler-icon{
    //     display: block;
        
    //     border-radius: 1px;
       
    // }
    
    .topnav .items {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      // text-decoration: none;
      font-size: 17px;
      border-bottom: 3px solid transparent;
    }
    
    .topnav .items:hover {
      border-bottom: 3px solid red;
    }
    
    .topnav a.active {
      border-bottom: 3px solid red;
    }

   //  .topnav {
   //    overflow: hidden;
   //    background-color: black;
   //    color: white
   //  }