nav {
   
   margin-bottom: 0;
}  
    
    img{
        margin-right: 10px; 
        border-radius: 60%;
        width: 80px;
        height: auto; 
        }
    
    li{
        margin-left: auto;
    }
    
    .navbar-brand{
        margin-left: 100px;
    }
    .navbar-nav{
        margin-left: 50px;
        margin-right: 80px; 
    }