nav {
   
   margin-bottom: 0;
   background-color: black!important
}  
    
img{
    margin-right: 10px; 
    border-radius: 60%;
    width: 80px;
    height: auto; 
    }

    
    // .navbar-brand{
    //     margin-left: 100px;
    // }
    // .navbar-nav{
    //     margin-left: 50px;
    //     margin-right: 80px; 
    // }
    // button.navbar-toggler{
    //     width: 44px;
    //     height: 34px;
        
    // }
    // .navbar-toggler-icon{
    //     display: block;
        
    //     border-radius: 1px;
       
    // }