<div class="container">
        <div class="row">
            <div class="col-md-4">
               <a href="#" id="image_item_uploader" name="image_item__uploader"><img src="assets/img/image_upload.png" class="card-img-top" alt="Image" title="upload-image"></a> <input type="file" id="imgInp_item" style="display:none" accept="image/*" multiple>   
            </div>
            <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="item_name"><b>Item Name</b></label>
                                    <input type="text" class="form-control" id="product_name" placeholder="Item Name">
                                </div>
                                <div class="form-group">
                                    <label for="item_quantity"><b>Quantity</b></label>
                                    <input type="number" class="form-control" id="quantity" placeholder="2">
                                </div>
                                <div class="form-group">
                                    <label for="item_price"><b>Price</b></label>
                                    <input type="number" class="form-control" id="price" placeholder="$100">
                                </div>
                                <div class="form-group">
                                    <label for="item_code"><b>Item Code</b></label>
                                    <input type="text" class="form-control" id="code" placeholder="1001">
                                </div>
                                <div class="form-group">
                                    <label for="item_description"><b>Description</b></label>
                                    <textarea class="form-control" id="item_description" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
    
                </div>
        </div>
    </div>
    
    
    
