<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="color:black"><b>Fish Details</b></h4>
      </div>
      <div class="card-body">
        <div class="table-scroll">
          <div *ngIf="(item_details | json) != '[]'">
            <table class="table table-dark">
              <thead>
                <th >Image</th>
                <th >Name</th>
                <th >Category</th>
                <th >Age</th>
                <th >Size</th>
                <th >Gender</th>
                <th >Price</th>
                <th >Code</th>
                <th >Description</th>
                <th > </th>
                <th ></th>
                <th > </th>
                <th></th>
              </thead>
              <tbody>
                <tr *ngFor="let item_details of item_details">
                  <td><img src="{{item_details.img_path}}" height="35px" width="35px" id="item_pic" ></td>
                  <td>{{item_details.name}}</td>
                  <td>{{item_details.category}}</td>
                  <td>{{item_details.age}}</td>
                  <td>{{item_details.size}}</td>
                  <td>{{item_details.gender}}</td> 
                  <td>{{item_details.price}}</td> 
                  <td>{{item_details.code}}</td> 
                  <td>{{item_details.description}}</td>
                  <td><a href="#" id="delete_item" name="delete_item" style="color: red" title="remove" (click)="deleteItem(item_details.code)"><i class="material-icons">delete_forever</i></a></td>
                  <td *ngIf="item_details.availability==true"><a href="/update/{{item_details.code}}" id="edit_item" name="edit_item" style="color:black" title="edit" style="color:white"><i class="material-icons" style="width:24px!important">toc</i></a></td>
                  <td *ngIf="item_details.availability==true"><button type="button"  class="btn btn-warning" (click)="mark_availability(item_details.code)">Sold</button></td>
                  <td *ngIf="item_details.availability==false"><button type="button" class="btn btn-danger" disabled>Sold</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="(item_details | json) === '[]'">
            <div class="alert alert-danger" role="alert">
               No Details Found
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title" style="color:black"><b>Item Details</b></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th></th>
              <th>Name</th>
              <th>Item Code</th>
              <th>Quantity</th>
              <th>Description</th>
              <th >Price</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let item_details of item_details">
                <td><img [src]="item_details.path" height="35px" width="35px" id="item_pic" ></td>
                <td>{{item_details.item_name}}</td>
                <td>{{item_details.code}}</td>
                <td>{{item_details.quantity}}</td>
                <td>{{item_details.description}}</td>
                <td>{{item_details.price}}</td> 
                <td><a href="#" id="delete_item" name="delete_item" style="color: red" title="remove" (click)="deleteItem(item_details.code)"><i class="material-icons">delete_forever</i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <a href="deleted_records">View Deleted Items</a>
  </div>
</div>
  <input id="fish_id" name="fish_id" value="{{input_value}}" style="display: none">
  <button type="submit" (click)="display()" id="search_item_nav" style="display: none"></button>

