<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" style="color:red"><b>Fish Details</b></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th></th>
              <th>Name</th>
              <th>Category</th>
              <th>Age</th>
              <th>Size</th>
              <th>Gender</th>
              <th>Price</th>
              <th>Code</th>
              <th>Description</th>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title" style="color:red"><b>Item Details</b></h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th></th>
              <th>Name</th>
              <th>Item Code</th>
              <th>Quantity</th>
              <th>Description</th>
              <th class="text-right">Price</th>
            </thead>
            <tbody>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
