<header>
  
    <div class="description" *ngFor="let fish_details of fish_details">
        <h1 *ngIf="fish_details.category=='imported-koi'">IMPORTED {{fish_details.name}}</h1>
        <h1 *ngIf="fish_details.category=='local-koi'">Sri Lankan {{fish_details.name}}</h1>
    </div>
    
</header> 

<div class="container ">
    <div class="row">
    <div class="details col-lg-5 col-md-5 col-sm-12">
        <table class="table table-striped ">
            <tbody *ngFor="let fish_details of fish_details">
                <tr>
                <td style="padding-left: 12px"> Code</td>
                <td style="text-align: right; padding-right: 12px">{{fish_details.code}} </td>
                </tr>
                <tr>
                <td style="padding-left: 12px"> Size</td>
                <td style="text-align: right; padding-right: 12px">{{fish_details.size}} cm </td>
                </tr>
                <tr>
                <td style="padding-left: 12px"> Age</td>
                <td style="text-align: right; padding-right: 12px">{{fish_details.age}} </td>
                </tr>
                <tr>
                <td style="padding-left: 12px"> Gender</td>
                <td style="text-align: right; padding-right: 12px">{{fish_details.gender}} </td>
                </tr>
                <tr>
                <td style="padding-left: 12px"> Price</td>
                <td style="text-align: right; padding-right: 12px">Rs:{{fish_details.price}} </td>
                </tr>
                <tr>
                <td style="padding-left: 12px" *ngIf="fish_details.availability==false"><b style="color:rgb(199, 9, 9)"> Sold</b></td>
                <td style="padding-left: 12px" *ngIf="fish_details.availability==true"><b style="color:rgb(4, 145, 58)"> In Stock</b></td>
                </tr>
                <tr><td style="padding-left: 12px"><b> Description</b></td><td></td></tr>
                
            </tbody>
            </table>
            <hr>
            <p style="font-size: 1.2em; padding-left: 12px; padding-right: 12px"> {{description}}</p>      
            <hr>
    </div>
    
    <div class="video-img col-lg-7 col-md-7 col-sm-12 ">
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="youtube_link|safe" allowfullscreen></iframe>
        </div>
       
        <!-- <div class="embed-responsive embed-responsive-16by9">   
            <video controls [src]="video"></video>
        </div> -->
        <div class="image"  *ngFor="let localkoi of fish_details">
            <a [href]="localkoi.img_path" class="d-block">
            <img [src]="localkoi.img_path" >
            </a>
    </div>   
    </div>

    </div>
    
</div>
