<header>
  
    <div class="description" *ngFor="let fish_details of fish_details">
        <h1 *ngIf="fish_details.category=='imported-koi'">Japanese {{fish_details.name}}</h1>
        <h1 *ngIf="fish_details.category=='local-koi'">Sri Lankan {{fish_details.name}}</h1>
    </div>
    
</header> 

<div class="container ">
    <div class="row">
    <div class="details col-lg-5 col-md-5 col-sm-12">
        <table class="table table-striped ">
            <tbody *ngFor="let fish_details of fish_details">
                <tr>
                <td> Code</td>
                <td style="text-align: right">{{fish_details.code}} </td>
                </tr>
                <tr>
                <td> Size</td>
                <td style="text-align: right">{{fish_details.size}} cm </td>
                </tr>
                <tr>
                <td> Age</td>
                <td style="text-align: right">{{fish_details.age}} </td>
                </tr>
                <tr>
                <td> Gender</td>
                <td style="text-align: right">{{fish_details.gender}} </td>
                </tr>
                <tr>
                <td> Price</td>
                <td style="text-align: right">Rs: {{fish_details.price}} </td>
                </tr>
                <tr>
                <td *ngIf="fish_details.availability==false"><b style="color:rgb(199, 9, 9)"> Sold</b></td>
                <td *ngIf="fish_details.availability==true"><b style="color:rgb(4, 145, 58)"> In Stock</b></td>
                </tr>
                <tr><td><b> Description</b></td><td></td></tr>
                
            </tbody>
            <div style="padding-top: 15px; padding-left: 8px;">
                <p style="font-size: 1.2em"> {{description}}</p>
            </div>
            </table>
            
    </div>
    
    <div class="video-img col-lg-7 col-md-7 col-sm-12 ">
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" [src]="youtube_link|safe" allowfullscreen></iframe>
        </div>
       
        <!-- <div class="embed-responsive embed-responsive-16by9">   
            <video controls [src]="video"></video>
        </div> -->
        <div class="image"  *ngFor="let localkoi of fish_details">
            <a [href]="localkoi.img_path" class="d-block">
            <img [src]="localkoi.img_path" >
            </a>
    </div>   
    </div>

    </div>
    
</div>
