header {
    position: relative;
    height: 100px;
    background-color: rgb(59, 69, 82);
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  header h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    
  }
  
  .features {
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
   }
   .image img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    //margin-bottom: 16px;
    //height: 280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   }
   p{
       font: 1.2em sans-serif;
       
   }
   table{
       padding: 10px;
    
   }
   tbody{
       font-size: 1.2em ;
   }
   .image{
       background-color: rgb(169, 232, 252);
   }
   tr{
       height: 60px;
   }
   .embed-responsive{
       margin-bottom: 16px;
   }
   @media (min-width: 1400px) {
    .container{
        max-width: 1240px;
    }
}