header {
    position: relative;
    height: 115px;
    background-color: rgb(59, 69, 82);
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  header h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 3rem;
    font-variant-caps: all-petite-caps;
  }
  
  
  .container {
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
   }
   .image {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(205, 242, 253);
    align-items: center;
   }
   .image img{
        padding-left: 70px;
        padding-right: 70px;
       vertical-align: middle;
       
       
   }
//    p{
//        font: 1.2em sans-serif;
       
//    }
   table{
       padding: 10px;
    
   }
  
   tbody{
       font-size: 1.2em ;
   }
   
   tr{
       height: 60px;
   }
   
   .embed-responsive{
       margin-bottom: 16px;
   }
   @media (min-width: 1400px) {
    .container{
        max-width: 1240px;
    }
}