<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="img-block">
                <picture><img src="https://www.whizlabs.com/media/2019/03/07/error-404.svg" alt="404-Error Loading Page"></picture>
            </div>  
        </div>
        <div class="col-md-4"></div>
    </div>  
    <div class="row" style="margin-top:8px">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2>Sorry,Page Not Found</h2>
                <a href="home" style="font-size:18px;margin-left:90px">Return to Home</a>
            </div>
        <div class="col-md-4"></div>
    </div>  
</div>
