<header>
        <div class="description">
            <h1>Koi Food</h1>
        </div>
</header>
    
    <div class="container features">
            <div class="row ">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box">
                <a href="assets/img/img 16.jpg" class="d-block ">
                <img alt="" src="assets/img/img 16.jpg" class="img-fluid">
                </a>
                <p>media 1</p>
            </div>
            </div>
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box">
                 <a href="assets/img/img17.jpg" class="d-block">
                <img src="assets/img/img17.jpg" class="img-fluid">
                </a>
                <p>media 2</p>
            </div>
            </div>
    
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="box">
                <a href="assets/img/img18.jpg" class="d-block">
                <img src="assets/img/img18.jpg" class="img-fluid">
                </a>
                <p>media 3</p>
                </div>
            </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="box">
                    <a href="assets/img/img 16.jpg" class="d-block ">
                    <img alt="" src="assets/img/img 16.jpg" class="img-fluid">
                    </a>
                    <p>media 1</p>
                </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="box">
                     <a href="assets/img/img17.jpg" class="d-block">
                    <img src="assets/img/img17.jpg" class="img-fluid">
                    </a>
                    <p>media 2</p>
                </div>
                </div>
        
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="box">
                    <a href="assets/img/img18.jpg" class="d-block">
                    <img src="assets/img/img18.jpg" class="img-fluid">
                    </a>
                    <p>media 3</p>
                    </div>
                </div>
                </div>
            
    </div>