<header>
        <div class="description">
            <h1>MEDICINE</h1>
        </div>
</header>

    
    <div class="container features">
            <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                <a href="#myModal" class="d-block" data-toggle="modal" data-img-url="assets/img/img12.jpg">
                <img alt="" src="assets/img/img12.jpg" class="img-fluid">
                </a>
                <p>media 1</p>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                <a href="#myModal" class="d-block" data-toggle="modal" data-img-url="assets/img/img13.jpg">
                <img src="assets/img/img13.jpg" class="img-fluid">
                </a>
                <p>media 2</p>
                </div>
            </div>
    
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                <a href="#myModal" class="d-block" data-toggle="modal" data-img-url="assets/img/img14.jpg">
                <img src="assets/img/img14.jpg" class="img-fluid">
                </a>
                <p>media 3</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="box">
                <a href="#myModal" class="d-block" data-toggle="modal" data-img-url="assets/img/img15.jpg">
                <img src="assets/img/img15.jpg" class="img-fluid">
                </a>
                <p>media 4</p>
                </div>
                </div>
            </div>
            
    </div>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-xl">
            <div class="modal-content" style="background-color: transparent">
                <div class="modal-header"> 
                    <button type="button" class="close " data-dismiss="modal" >&times;</button>
                </div> 
                <div class="modal-body text-center">
                    <img class="" src="" style="padding: 0; margin:0">
                </div>
                
            </div>
        </div>
</div>