<header>
  
        <div class="description">
            <h1>Contact Us</h1>
        </div>
        
 </header>
        <div class='wave -one'></div>
        <div class='wave -two'></div>

 <div class="container features ">
     <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 ">
    
            <h6>Address</h6>
            <p>No:16/8 Sirimal Uyana,</p>
            <p>Jamburaliya, Madapatha,</p>
            <p>Piliyandala,</p>
            <p>Sri Lanka</p><br>
            <h6>Email : </h6><p>thewaterkingdom@gmail.com</p><br>
            <h6>Tel : </h6><p> 077 901 4918</p><br>
            <h6>Business Hours : </h6><p>Monday - Sunday : 8am - 8pm</p>
         </div>
         <div class="col-lg-8 col-md-4 col-sm-12 ">
                <p>vcgrvfchrb</p>
            </div>
     </div>
            




 </div>>

 