<header>
  
    <div class="description">
        <h1>Contact Us</h1>
    </div>
        
 </header>
    
 <div class="container features ">
     <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 ">
         <div class="detail">
            <h6>Address</h6>
            <hr>
            <p>No:16/8 Sirimal Uyana,</p>
            <p>Jamburaliya, Madapatha,</p>
            <p>Piliyandala,</p>
            <p>Sri Lanka</p><br>
            <h6>Email</h6>
            <hr>
            <p>thewaterkingdomlk@gmail.com</p><br>
            <h6>Telephone</h6>
            <hr>
            <p> 077 901 4918</p><br>
            <h6>Business Hours</h6>
            <hr>
            <p>Monday - Sunday : 8am - 8pm</p>
        </div>   
         </div>
         <div class=" map col-lg-8 col-md-8 col-sm-12 ">
              <!-- Add map -->
         </div>
     
     </div>        




 </div>

 