header {
    background-image: url('assets/img/img1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
    .overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    }
    .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
    
    }
    h1 {
    color: #ffffff;
    font-weight: 500;
    }
    p {
    color: #fff;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 500;
    }

    a {
        border:1px,solid, #13345f;
        background:#13345f;
        border-radius: 10px;
       
        color:#fff;
       }
    a:hover {
        border:1px solid #ffffff;
        background:#fff;
        color:#000;
       }
    
 