<footer class="footer" style="background-color: rgb(34, 34, 34); color: #ccc; padding: 20px 0 0 20px;">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 ">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>Call Now : 077 901 4918
                            <br/><br/>Email : thewaterkingdom@gmail.com</p>
                    <p> </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                    <h6 class="text-uppercase font-weight-bold">Address</h6>
                    <p>16/8, Sirimal Uyana, 
                        <br/>Jamburaliya, Madapatha,
                    <br/>Piliyandala, 
                    <br/>Sri Lanka

                    </p>
                    </div>
            </div>
        
        <div class="footer-copyright text-center py-3" style="color: rgb(105, 104, 104); ">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="#">Water  Kingdom</a>
        </div>
    </div>
</footer>
