<footer class="footer" style="color: rgb(105, 104, 104); padding: 20px 0 0 20px;">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Email</h6>
                        <p>thewaterkingdom@gmail.com</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Contact</h6>
                        <p>+9477 901 4918</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Address</h6>
                        <p>16/8, Sirimal Uyana, Jamburaliya, Madapatha
                    </div>
            </div>
        <div class="footer-copyright text-center py-3" style="color: rgb(105, 104, 104); ">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="#">Water  Kingdom</a>
        </div>
    </div>
</footer>
