<footer class="footer" style="color: rgb(105, 104, 104); padding: 20px 0 0 20px;">
    <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Email</h6>
                        <p>thewaterkingdom@gmail.com</p>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 ">
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <p>Call Now : 077 901 4918
                            <br/><br/>Email : thewaterkingdomlk@gmail.com</p>
                    <p> </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <h6 class="text-uppercase font-weight-bold">Address</h6>
                        <p>16/8, Sirimal Uyana, Jamburaliya, Madapatha</p>
                    </div>
            </div>
        <div class="footer-copyright text-center py-3" style="color: rgb(105, 104, 104); ">
            &copy; {{test | date: 'yyyy'}}, made by <a href="#">The Water  Kingdom</a>
        </div>
    </div>
</footer>