header {
    position: relative;
    height: 100px;
    //background-size: 10%;
    //background-image: linear-gradient(#51535762, #51535762);
    background-color: rgb(59, 69, 82);
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  header h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    
  }
  .card{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container-fluid{
    padding: 30px;
  }
  h5{
    font-size: 1.3em;
  }
  p{
    padding-top: 12px;
    font-size: 1.2em;
  }