header {
    position: relative;
    height: 100px;
    //background-size: 10%;
    //background-image: linear-gradient(#51535762, #51535762);
    background-color: rgb(59, 69, 82);
  }
  .description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -55%);
    text-align: center;
  }
  
  header h1 {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    
  }
.wave {
    position: absolute;
    width: 100%;
    height: 30px;
    
  }
  
  .wave.-one {
    opacity: .2;
    background: black;
    height: 20px;
  }
  
  .wave.-two {
    opacity: .3;
    background-color: #98c9db;
    height: 30px;
  }
  .box{
    margin-bottom: 70px;
  }